<!DOCTYPE html>
<html lang="en">
<head>
    <title>住宅信息</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
    <link href="{{ static_url('css/yinsho.css') }}" rel="stylesheet"/>
    <link href="{{ static_url('css/main.css') }}" rel="stylesheet"/>
    <link href="{{ static_url('font/iconfont.css') }}" rel="stylesheet"/>
    <script src="{{ static_url('asset/jquery.min.js') }}"></script>
    <script src="{{ static_url('asset/jquery-extend.js') }}"></script>
    <script src="{{ static_url('asset/validate.js') }}"></script>
    <script src="{{ static_url('asset/picker.js') }}"></script>
    <script src="{{ static_url('asset/picker-city.js') }}"></script>
    <script src="{{ static_url('asset/popup.js') }}"></script>
    <script src="{{ static_url('js/tool.js') }}"></script>
    <script src="{{ static_url('js/ccrd/online_apply/main_other_info.js') }}"></script>
</head>
<body ontouchstart>
	<div class="container">
        <ul class="nav_process">
            <li class="nav_process_item complete">
                <a class="nav_step" href="#">
                    <i class="iconfont icon-correct"></i>
                </a>
                <span class="nav_title">信用卡申请</span>
            </li>
            <li class="nav_process_item complete">
                <a class="nav_step" href="#">
                    <i class="iconfont icon-correct"></i>
                </a>
                <span class="nav_title">工作信息</span>
            </li>
            <li class="nav_process_item complete">
                <a class="nav_step" href="#">
                    <i class="iconfont icon-correct"></i>
                </a>
                <span class="nav_title">住宅信息</span>
            </li>
            <li class="nav_process_item processing">
                <a class="nav_step" href="#">
                    4
                </a>
                <span class="nav_title">其他信息</span>
            </li>
        </ul>
        <form id="form6">
        <div class="ys_cells card_apply_cell card_apply_cell_2">
            <div class="ys_cell ys_cell_select">
                <div class="ys_cell_hd">
                    <label>婚姻状况</label>
                </div>
                <div class="ys_cell_bd">
                    <select name="marital_status" class="ys_select" emptyTips="婚姻状况不能为空" required>
                        <option value="">请选择</option>
                        {% for key, value in marital_statuses.items() %}
                        <option value="{{ key }}">{{ value }}</option>
                        {% end %}
                    </select>
                </div>
            </div>
            <div class="ys_cell ys_cell_select">
                <div class="ys_cell_hd">
                    <label>教育程度</label>
                </div>
                <div class="ys_cell_bd">
                    <select name="qualification" class="ys_select" emptyTips="教育程度不能为空" required>
                        <option value="">请选择</option>
                        {% for key, value in qualifications.items() %}
                        <option value="{{ key }}">{{ value }}</option>
                        {% end %}
                    </select>
                </div>
            </div>
            <div class="ys_cell">
                <div class="ys_cell_hd">
                    <label>电子邮箱</label>
                </div>
                <div class="ys_cell_bd">
                    <input name="email" class="ys_input" type="text" placeholder="请输入电子邮箱"
                    pattern="^[a-zA-Z0-9_-]+@[a-zA-Z0-9_-]+(\.[a-zA-Z0-9_-]+)+$" notMatchTips="电子邮箱的格式不正确"
                    emptyTips="电子邮箱不能为空" required>
                </div>
            </div>
            <div class="ys_cell ys_cell_select">
                <div class="ys_cell_hd">
                    <label>账单类型</label>
                </div>
                <div class="ys_cell_bd">
                    <select name="stmt_media_type" class="ys_select" emptyTips="账单类型不能为空" required>
                        <option value="">请选择</option>
                        {% for key, value in stmt_media_types.items() %}
                        <option value="{{ key }}">{{ value }}</option>
                        {% end %}
                    </select>
                </div>
            </div>
            <div class="ys_cell ys_cell_select">
                <div class="ys_cell_hd">
                    <label>卡片寄送方式</label>
                </div>
                <div class="ys_cell_bd">
                    <select name="card_fetch_method" class="ys_select" emptyTips="卡片寄送方式不能为空" required>
                        <option value="">请选择</option>
                        {% for key, value in card_fetch_methods.items() %}
                        <option value="{{ key }}">{{ value }}</option>
                        {% end %}
                    </select>
                </div>
            </div>
            <div class="ys_cell ys_cell_select">
                <div class="ys_cell_hd">
                    <label>卡片寄送地址</label>
                </div>
                <div class="ys_cell_bd">
                    <select name="card_mailer_ind" class="ys_select" emptyTips="卡片寄送地址不能为空" required>
                        <option value="">请选择</option>
                        {% for key, value in card_mailer_inds.items() %}
                        <option value="{{ key }}">{{ value }}</option>
                        {% end %}
                    </select>
                </div>
            </div>
            <label class="ys_cell ys_cell_checkbox" for="sm_amt_verify_ind">
                <div class="ys_cell_bd">
                    开通小额免密免签
                </div>
                <div>是</div>
                <div class="ys_cell_ft">
                    <input name="sm_amt_verify_ind" id="sm_amt_verify_ind" class="ys_checkbox" type="checkbox" checked>
                    <i class="iconfont icon-c-radio-none"></i>
                </div>
            </label>
        </div>
        <div class="ys_agree">
            <span class="ys_agree_text">请仔细阅读
                <a class="ys_agree_clause open-popup" href="javascript:;" data-target="#clause-a">《小额免密免签》</a>
            </span>
        </div>
	    <div class="ys_btns mt30">
            <a class="ys_btn" href="javascript:;" id="submit6">下一步</a>
        </div>
        </form>
        <div id="clause-a" class="ys_page">
            <div class="ys_content ys_page_y">
                <div class="ys_btns">
                    <div class="clause_content">
                        <h4>《小额免密免签》</h4>
                        <p id="protocol3"></p>
                    </div>
                    <div class="pb60"></div>
                </div>
            </div>
            <div class="ys_fixed_footer clause_btn">
                <a class="ys_fixed_btn close-popup" href="javascript:;">继续</a>
            </div>
        </div>
	</div>
</body>
