{% if items %}
{% for item in items %}
<div class="pay_preview history_detail card_stage_list">
    <div class="pay_ph_hd ys_flex ys_btop">
        <label>交易金额</label>
        <div class="ys_cell_bd pay_ph_value"><i>{{ item['txn_curr_cd'] }}</i><span>{{ item['txn_amt'] }}</span></div>
    </div>
    <div class="pay_ph_bd">
        <div class="pay_ph_item">
            <label>交易日期</label>
            <span>{{ item['txn_date'] }}{{ item['txn_time'] }}</span>
        </div>
        <div class="pay_ph_item">
            <label>卡号末尾</label>
            <span>{{ item['ccrdno_tail'] }}</span>
        </div>
        <div class="pay_ph_item">
            <label>交易描述</label>
            <span>{{ item['txn_short_desc'] }}</span>
        </div>
    </div>
    <a class="ys_panel_ft" href="./consumption/form?amt={{ item['txn_amt'] }}:;">进入分期</a>
</div>
{% end %}
{% else %}
<div class="bill_money_panel">
    <p>无交易记录</p>
</div>
{% end %}
